.ojscowjklsk {
    padding: 17rem 0;
    background-color: #1c1d21;
}
.video_lkjcjowijfdkl {
    margin-top: 5rem;
}

.video_lkjcjowijfdkl video {
    border-radius: 0.8rem;
    height: auto;
    overflow: hidden;
    width: 124.4rem;
}

.wojdojlk {
    color: rgb(250, 251, 255);
    font-family: "Albert Sans", sans-serif;
    font-size: 5.4rem;
    font-weight: 800;
    line-height: 6rem;
}

.kojwockiwlfj {
    margin-top: 1.5rem;
    color: rgba(237, 240, 253, 0.5);
    font-family: "Albert Sans", sans-serif;
    font-size: 1.9rem;
    line-height: 2.5rem;
}

.kjudoiwjfdl {
    margin-top: 30px;
    background-color: #00cae0;
    border: 1px solid transparent;
    color: #000;
    background-color: #00cae0;
    border: 1px solid transparent;
    font-weight: 600;
    line-height: 1.5715 rem;
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 10px;
}
